* {
    box-sizing: border-box;
  }
  body {
    background-image: url('https://images.unsplash.com/photo-1558160515-f856de527cf7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    background-size: cover;
    font-size: 16px;
    font-family: sans-serif;
    
  }
  textarea {
    width: 100%;
    height: 5rem;
    padding: .5rem;
    font-size: 1rem;
    color: gold;
    font-style: italic;
    background-color: black;

  }
  button {
    padding: .5rem 1rem;
    background-color:black;
    font-size: 1rem;
    color:gold;
  }