
@media (min-width: 1200px) {
    /* OK */
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Mobile menu */
    .navbar {
        background: rgba(0, 0, 0, .7);
        padding: 10px 0;
    }
    .navbar-nav {
        float: left;
    }
    .vesco-nav-wrapper {
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Mobile menu */
    .navbar {
        background: rgba(0, 0, 0, .7);
       padding: 10px 0;
    }
    .navbar-nav {
        float: left;
    }
    .vesco-nav-wrapper {
        padding: 0;
    }
 
    #about-bg-diagonal {
        border-left: 0;
        border-top: 0;
        width: 100%;
        height: 350px;
    }
    #about-content-box {
        width: 100%;
        height: 350px;
    }

    .stats-item {
        padding: 20px 0;
    }

    #footer-copyrights {
        text-align: center;
    }
}


@media (max-width: 767px) {
    /* Mobile menu */
    .navbar {
        background: rgba(0, 0, 0, .7);
        padding: 10px 0;
    }
    .navbar-nav {
        float: left;
    }
    .vesco-nav-wrapper {
        padding: 0;
    }

    #home-heading h3 {
        font-size: 24px;
    }

    .btn-general {
        padding: 6px 22px 6px 22px;
        font-size: 14px;
    }
    
    #about-bg-diagonal {
        border-left: 0;
        border-top: 0;
        width: 100%;
        height: 350px;
    }
    #about-content-box {
        width: 100%;
        height: 350px;
    }
  
    .img-wrapper img {
        min-width: 100%;
    }

    .testimonial blockquote {
        padding: 6px 50px;
    }
    .testimonial blockquote:before {
        left: 10px;
    }
    .testimonial blockquote:after {
        right: 10px;
    }
    .testimonial blockquote p {
        font-size: 14px;
    }

    .stats-item {
        padding: 20px 0;
    }

    #footer-copyrights {
        text-align: center;
    }
}

@media (max-width: 480px) {

}

@media (max-width: 320px) {

    .service-item-icon i {
        width: 58px;
        height: 58px;
        padding: 7px;
    }
    .service-item-title h3 {
        font-size: 17px;
    }

    #about-content-box {
        margin-top: 40px;
    }
 
    .testimonial img {
        max-width: 80px;
    }
    .testimonial blockquote {
        padding: 6px 30px;
    }
    .testimonial blockquote:before {
        left: 7px;
    }
    .testimonial blockquote:after {
        right: 7px;
    }
}