--wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
color: #ddd;
font-size: 1rem;
line-height: 1.45;
box-sizing: border-box;
border: 0;
font-family: inherit;
font-style: inherit;
font-weight: inherit;
outline: 0;
padding: 0;
vertical-align: baseline;
border-collapse: separate;
border-spacing: 0;
margin: 0 0 1rem;
width: 100%;
float: right;
margin-left: 12px;